/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);*/

@import url('roboto.css');
body {
	background: #fff;
	font-family: 'Roboto-Regular';
	color: #666666;
	line-height: 22px;
	font-size: 12px;
	position: relative;
	min-height: 100vh;
}

/*select .input-sm {padding:3px}*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	font-family: 'Roboto-Regular';
	color: #4e4e4e;
}

h1 {
	font-size: 36px;
	color: #006699
}

h2 {
	font-size: 24px;
	color: #666666;
	font-weight: normal;
	float: left
}

h3 {
	font-size: 16px;
	color: #333333;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 16px;
}

h5 {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 300;
	text-transform: none;
	letter-spacing: 1px
}


/*h3 {font-size: 24px; color: #333333; font-weight:normal; letter-spacing:3px; text-transform: uppercase; font-weight:300 }*/

h4 {
	font-size: 14px;
	color: #333333;
	letter-spacing: 1px;
}

/* Modal dialog START*/

.modal-content > .modal-header{
	background-color: #0099cc;
	color: #FFFFFF;
	font-family: Roboto-Light;
	font-size: 18px;
	line-height: 24px;
}

.modal-content > .modal-footer{
	padding: 9px;
	text-align: center;
	margin-top: 0;
	display: flex;
	justify-content: space-between;
}

div.modal-body{
	font-family: Roboto-Light;
	font-size: 18px;
	line-height: 24px;
	color: #333333;
	text-align: center;
	padding: 32px;
}

button.popUpYes{
	font-family: Roboto-Regular;
	font-size: 12px;
	line-height: 16px;
	color: #0099cc;
	border: none;
	background: none;
}

button.popUpYes:hover{
	color: #ee4411;
}

button.popUpNo{
	font-family: Roboto-Regular;
	font-size: 12px;
	line-height: 16px;
	color: #999999;
	border: none;
	background: none;
}

button.popUpNo:hover{
	color: #0099cc;
}

div.modal-content-margin{
	margin-bottom: 40px;
}

/* Modal dialog END*/

img {
	max-width: 100%;
}

a:hover,
a:focus {
	color: #ee4411;
}

header {
	position: fixed;
	width: 100%;
	background-color: #ffffff;
	z-index: 1000;
	top: 0;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px){
	.navbar-nav {
		margin-top: 0px;
	}
}

.formHeader {
	background: #003366;
	color: #FFFFFF;
	font-family: Roboto-Regular;
	font-size: 16px;
	text-align: left;
	padding: 5px 2px;
}

hr {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #fff;
}

p.logoText {
	font-size: 11px;
	line-height: 11pt;
	display: inline-block;
	color: #333333;
}

div.logobar {
	display: inline-block;
	height: 30px;
	border-left: 1px solid;
	margin: 0px 15px;
	margin-top: 12px;
}


/*Scrollbar Style*/

::-webkit-scrollbar {
	width: 7px;
}


/* width */

::-webkit-scrollbar-track {
	background: #f1f1f1;
}


/* Track */

::-webkit-scrollbar-thumb {
	background: #999999;
}


/* Handle */

::-webkit-scrollbar-thumb:hover {
	background: #555;
}


/* Handle on hover */


/*#Style-1*/

button {
	min-height: 32px;
}

.btn-primary {
	padding: 5px 20px 5px 20px;
	min-width: 90px;
	background: #ee4411;
	color: #FFFFFF;
	border-radius: 50px;
	border: none;
	font-size: 12px;
	text-transform: uppercase;
	margin: 15px 12px 15px 0px;
	font-weight: 300;
	letter-spacing: 2px;
	height: 32px;
}

.btn-primary:hover,
.btn-primary:focus {
	background: #FF6633;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}


/*#Style-3*/

.btn-outline {
	padding: 5px 20px 5px 20px;
	min-width: 90px;
	background: #FFFFFF;
	border-radius: 50px;
	font-size: 12px;
	margin: 15px 12px 15px 0px;
	border: #0099cc 1px solid;
	color: #0099cc;
	text-transform: uppercase;
	font-style: normal;
	letter-spacing: 2px
}

.btn-outline:hover,
.btn-outline:focus {
	background: #0099cc;
	color: #FFFFFF
}


/*#Style-5*/

.btn-outline5 {
	padding: 5px 20px 3px 20px;
	color: #FFFFFF;
	background: transparent;
	border-radius: 50px;
	font-size: 11px;
	text-transform: uppercase;
	margin: 15px 12px 15px 0px;
	border: #FFFFFF 1px solid;
	font-weight: 300;
	letter-spacing: 2px
}

.btn-outline5:hover,
.btn-outline:focus {
	background: #FFFFFF;
	color: #333333
}


/* Blubar title in golden yellow*/

.blueBarTitle {
	color: #FFCC33;
	margin-top: 32px;
	margin-bottom: 2px;
	font-family: Roboto-Light;
	font-size: 20px;
}

a:hover,
a:focus {
	color: #111;
	text-decoration: none;
	outline: none;
}

.center h2 {
	font-size: 36px;
	margin-top: 0;
	margin-bottom: 20px;
}

.bccontainer {
	width: 100%;
	background: #003366;
	color: #ffffff;
	margin: 5px 0 32px 0;
	padding-top: 105px;
}

div.learnerDashboard {
    color: #FFFFFF;
    padding-bottom: 50px;
}

@media (max-width: 512px) {
	.bccontainer {
		padding-top: 172px;
	}
}

@media (max-width: 767px) and (min-width: 513px) {
	div.bccontainer {
		padding-top: 145px;
	}
}

.breadcrumb {
	font-size: 10px;
	font-weight: 500;
	background: none;
	padding: 10px 0px 5px 0px;
}

.breadcrumb a {
	color: #999999;
	margin-right: 5px;
	font-size: 11px;
	margin-left: 5px
}

.breadcrumb a:hover {
	color: #FFFFFF
}

.breadcrumb .container {
	padding-left: 0;
  padding-right: 50px;
}

.shadowBox {
	background: #FFFFFF;
	border-radius: 4px;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 3px 4px 0px rgba(255, 255, 255, 0.5);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
	height: 280px;
	max-width: 280px;
	display: block;
}

.shadowBox h4 a {
	color: #333333;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0px
}

.shadowBox h4 a:hover {
	color: #0099cc;
}

.shadowBox .content {
	padding-left: 15px;
	padding-right: 15px;
}

.shadowBox .content2 {
	height: 112px;
	background-color: #eeeeee;
	padding: 25px;
	text-align: left;
}

.shadowBox:hover .content2 {
	background-color: #0099CC;
	box-shadow: 0 0 1pt 1pt #0099CC;
}

.shadowBox:hover {
	box-shadow: 0 0 1pt 1pt #0099CC;
}

.shadowBox:hover .content2 .title {
	color: #ffffff;
}

.shadowBox:hover .content2 .description {
	color: #eeeeee;
}

.textEllipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.shadowBox .content2 .title {
	font-size: 18px;
	font-family: Roboto-Regular;
	color: #333333;
}

.shadowBox .content2 .description {
	font-size: 12px;
	font-family: Roboto-Light;
	color: #666666;
}

.instituteBox .content2 {
	padding: 15px;
}

.instituteBox .content2 .title {
	font-size: 16px;
}

.shadowBox .image {
	min-height: 168px;
	position: relative;
}

.shadowBox .image img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.instructorBox {
	padding: 20px;
}

.instructorBox .content3 .name {
	margin-top: 25px;
	font-family: Roboto-Regular;
	font-size: 18px;
	color: #0099cc;
}

.instructorBox .content3 .title {
	margin-top: 10px;
	font-family: Roboto-Regular;
	font-size: 16px;
	color: #333333;
}

.instructorBox .content3 .description {
	margin-top: 5px;
	font-family: Roboto-Light;
	font-size: 12px;
	color: #333333;
}


/*.coursecatalogLogo{ margin-top:10px; clear:both }*/

.top-bar {
	padding: 5px 0;
	color: #333333;
	font-size: 10px;
	font-weight: 500
}

.top-navigation {
	text-align: right
}

@media (max-width: 767px) {
	.top-navigation {
		text-align: center
	}
}

@media (max-width: 767px) {
	.top-left {
		text-align: center
	}
}

.top-navigation {
	font-size: 14px;
	margin-top: 10px;
}

.top-navigation a {
	color: #666666;
	padding: 0px 4px 0px 4px;
	font-size: 14px;
	font-weight: 300
}

.top-navigation a:hover,
.top-navigation a:focus {
	color: #0099cc
}

.navbar {
	margin: 0px;
	background: #FFFFFF;
	padding: 0px;
	border: none
}

.navbar-brand{
	padding: 0;
	float: none;
}

@media (max-width: 767px) {
header .nav>li{
	padding-left:20px;
}
}

.nav>li>a {
	padding: 8px 15px 0px 0px
}

.navbar-default .navbar-nav>li>a {
	color: #333333;
	margin-top: 0px;
	font-size: 14px
}

@media (max-width: 767px) {
	.nav>li>a {
		padding-top: 20px;
	}

	.navbar-default .navbar-nav>li>a {
		margin-top: 6px;
	}
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #3399cc;
	background: #ffffff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	background: #FFFFFF;
}

.dropdown-menu>li>a {
	padding: 5px 15px 5px 15px
}

.dropdown-menu>li:hover>a,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:active {
	background: #3399cc;
	color: #FFFFFF
}

.dropdown-menu li:first-child{
	border-top: 4px solid #ff8811;
	padding-top:10px;
}

.dropdown-menu li:last-child{
	padding-bottom:10px;
}

.dropdown-menu li a:hover{
	background:#0099cc;
}

.dropdown-menu li:hover .normalimg,
.dropdown-menu li a:hover .normalimg,
.dropdown-menu li a:focus .normalimg{
	display:none;
}

.dropdown-menu li:hover .selectedimg,
.dropdown-menu li a:hover .selectedimg,
.dropdown-menu li a:focus .selectedimg{
	display:inline-block;
}

.selectedimg{
	display:none;
}

.navbar-nav>li>.dropdown-menu {
	background: #ffffff;
	padding: 0px;
	margin-right: 15px;
	margin-top: 22px;
	max-height: 350px;
	width: max-content;
	overflow: auto;
	line-height: normal;
	z-index: -1;
	/* Default width of a dropdown will be according to its content size.
	Override the width property in individual elements for customization.
	This will over flow text if the width is smaller than content, due to the below defined property.*/
}

.navbar-nav>li>.dropdown-menu>li>a{
	white-space: normal;
}

/* Mega menu bar style :: START */
.dropdown-menu>div>div>a {
	padding: 5px 15px 5px 15px;
	display: block;
	line-height: 1.428571429;
	color: #333;
	background: transparent;
}
.dropdown-menu>div>div>a:focus,
.dropdown-menu>div>div>a:active,
.dropdown-menu>div>div>a:hover {
	color: #FFFFFF;
	background:#0099cc;
}

.dropdown-menu>div>div>a:not(focus),
.dropdown-menu>div>div>a:not(active),
.dropdown-menu>div>div>a:not(hover) {
	color: #333;
	background: transparent;
}
.dropdown-menu>div>div.dropdown-submenu:hover>a {
	background:#0099cc;
}
.dropdown-menu>div>div:first-child{
	border-top: 4px solid #ff8811;
	padding-top:10px;
}
.dropdown-menu>div>div:last-child{
	padding-bottom:10px;
}
.dropdown-menu div div:hover .normalimg,
.dropdown-menu div div a:hover .normalimg,
.dropdown-menu div div a:focus .normalimg {
    display:none;
}

.dropdown-menu div div:hover .selectedimg,
.dropdown-menu div div a:hover .selectedimg,
.dropdown-menu div div a:focus .selectedimg {
	display:inline-block;
}

.navbar-nav>div>.dropdown-menu {
	background: #ffffff;
	padding: 0px;
	margin-right: 15px;
	margin-top: 22px;
	max-height: 350px;
	width: max-content;
	line-height: normal;
	overflow: auto;
	z-index: -1;
}

.navbar-nav>div>.dropdown-menu>div>div>a{
	white-space: normal;
}
.dropdown-submenu {
	position: static;
}
.dropdown-submenu .dropdown-menu {
	top: -6px;
	left: 100%;
	margin-top: 0;
	width: 240px;
	max-height: 357px;
}
div.megamenuWrapper{
	display: block;
	max-height: 350px;
	overflow-y: auto;
}
/* Mega menu bar style :: END */


.navbar-toggle {
	background: #0099cc;
	border: none;
	margin-top: 22px;
}

.navbar-toggle:hover {
	background: #222244;
}

.no-margin {
	margin: 0;
	padding: 0;
}

.input-group-addon:first-child,
.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.dropdown-toggle,
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
	border: 1px solid #CCCCCC;
	border-radius: 0px;
	padding: 0px 5px
}

span.input-group-addon {
	padding: 4px 12px;
}

.input-group-btn button {
	padding: 3px;
	border-left: 0px
}

#myCarousel {
	padding-top: 100px;
}

.carousel-control,
.carousel-control.right,
.carousel-control.left {
	font-size: 15px;
	width: 5%;
	background-image: none
}

section {
	background-color: #FFFFFF;
}

label {
	font-size: 11px;
	font-weight: 400;
	color: #999999;
	padding-left: 3px;
	margin-bottom: 0px;
	padding-bottom: 0px
}

span.formLabel {
	font-size: 12px;
	font-family: Roboto-Light;
	line-height: 16px;
	color: #999999;
}

.form-group .form-control {
	padding: 0px 0px 0px 2px;
	outline: 0;
	border-width: 0 0 2px;
	color: #333333;
	font-size: 12px;
	line-height: 16px;
	height: 28px;
	border-bottom: #dddddd 1px solid;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: 0 none;
}

.form-group input.form-control:focus {
	border-color: #0099cc;
}

#header-search-query:focus{
	outline: none;

}

@-moz-document url-prefix() {
	.form-group>select.form-control{
	text-overflow: ellipsis;
	padding-right:15px;
	white-space: no-wrap;
	overflow: hidden;
	}
}

.form-group>select.blubarCheckbox>option {
	background-color: #ffffff;
	color: #333333;
}

.form-group>select.blubarCheckbox> option:hover {
	background: #dddddd;
}

.input-group.date > .input-group-addon{
	position: relative;
	background: transparent;
	padding-right: 16px;
	border-right: 0;
	border-top: 0;
	border-radius: 0;
}

.input-group-addon > img{	
	position: absolute;
	top: 0px;
	right: 0px;
}

div.photoPlaceholder{
	width : 177px;
	height : 176px;
	background : #eeeeee;
}

.photoRules{
	font-style: italic;
}

div.certificatePlaceholder{
	width : 107px;
	height : 106px;
	margin-top: 15px;
	background : #eeeeee;
}

div.addressView{
	width: 140px;
	margin: auto;
	margin-top: 10px;
	text-align: left;
}

input.form-control:focus ~ .input-group-addon {
	border-color: #0099cc;
}

.form-group button {
	font-size: 15px;
	padding: 15px 30px;
}

.storyHeight{
	overflow: auto;
	height: 120px;
	margin: 0;
}

.rightlinks{
	float:right;
}

.rightlinks a{
	color:#fff;
}

@media (max-width: 480px) {
	.rightlinks{
		padding-top: 15px;
	}
}

@media (min-width: 481px) {
	.transcriptTopMargin{
		margin-top: 130px;
	}
}

.pagination li a,
.pagination>li:first-child>a,
.pagination>li:last-child>a{
	padding: 6px 0px;
	color: #666666;
	font-size: 14px;
	line-height: 16pt;
	margin-right: 8px;
	border-radius: 16px;
	height: 32px;
	width: 32px;
	text-align: center;
	border: none;
}

.pagination li:not(.pnav) a:hover {
	background-color: #ee4411;
	color: #ffffff;
}

.pagination>li.active>a,
.pagination>li.active>a:hover,
.pagination>li.active>a:focus {
	padding: 5px 0px;
	font-family: Roboto-Medium;
	color: #333333;
	background: #ffffff;
	border-radius: 16px;
	height: 32px;
	width: 32px;
	border: 1px solid #333333;
}

.redStar {
	color: #FF0000;
}

.footer-logo {
	display: inline-block;
}

#bottom {
	background: #dddddd;
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 20px
}

#bottom h3 {
	margin-top: 10px;
	margin-bottom: 4px;
	text-transform: uppercase;
	font-size: 12px;
	color: #333333;
	margin-bottom: 10px;
	font-weight: 500
}

#bottom ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#bottom ul li {
	display: block;
	padding: 0px 0;
	font-size: 11px
}

#bottom ul li a {
	color: #666666;
	font-weight: 300
}

#bottom ul li a:hover {
	color: #0099cc;
}

#bottom .app {
	margin-top: 15px
}

.minHeight {
	height: 250px
}

#social {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #333333;
	min-height: 112px;
	border-top: 4px solid #eeeeee;
}

#social h3 {
	margin-top: 0px;
	margin-bottom: 4px;
}

#social .appcontainer .col-md-5 div {
	display: inline-block;
	padding-right: 10px;
}

#social .appcontainer h4 {
	font-size: 14px;
	font-family: Roboto-Regular;
	line-height: 18px;
	color: #333333;
}

#social .appcontainer .social_icons li {
	padding-right: 20px;
}

#legal {
	background: #666666;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #999999;
	min-height: 30px;
	line-height: 30px;
}

#legal span {
	font-size: 10px
}

#legal a {
	color: #cccccc;
	padding: 0px 0px 0px 0px;
	font-family: Roboto-Light;
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
}

#legal a:hover {
	color: #ffffff;
}

@media (max-width: 767px) {
	#legal {
		text-align: center
	}
	#social .appcontainer div {
		padding-bottom: 10px;
	}
	#footer div {
		float: none !important;
		text-align: center;
	}
	#social .appcontainer {
		text-align: center;
	}
}

@media (min-width: 767px) and (max-width: 1024px) {
	#social .appcontainer .col-md-5 div {
		padding-right: 2px;
	}
	.appcontainer .col-md-2{
		text-align: center;
	}
	.appcontainer .col-md-2 img{
		max-width: 128px;
	}
	.NCdetails ~ div col-md-3.text-center{
		text-align: left;
	}
	.NCdetails .iconsContainer{
		padding-bottom: 50px;
	}
}


/*#bottom .widget { margin-bottom: 0; padding-left: 15px;}*/

#footer {
	padding-top: 3px;
	padding-bottom: 2px;
	color: #FFFFFF;
	background: #333333;
	font-size: 10px;
	font-weight: 500;
	min-height: 30px;
}

#footer div {
	font-family: Roboto-Light;
	font-size: 12px;
}

#footer a {
	color: #fff;
	font-weight: 500;
}

#footer a:hover {
	color: #0099cc;
	font-weight: 500;
}

#footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-weight: 500;
}

#footer ul>li {
	display: inline-block;
	margin-left: 15px;
	font-weight: 500;
}

.helpline {
	text-align: right;
	font-size: 12px;
	font-weight: 300;
	color: #FFFFFF
}

@media (max-width: 767px) {
	.helpline {
		text-align: center
	}
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav>li>a {
		padding: 2px;
	}
	.navbar-inverse .navbar-nav>li>a:hover {
		color: #ff6600
	}
}


/* Social [START]*/

ul.social_icons,
ul.tag {
	list-style: none;
	padding: 0;
	margin: 10px 0;
	display: block;
}

ul.social_icons li,
ul.tag li {
	display: inline-block;
	margin-right: 5px;
}

ul.social_icons li a i {
	background: #666666;
	border-radius: 20%;
	color: #FFFFFF;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	padding: 0;
	text-align: center;
	width: 25px;
	opacity: .8;
}


/* Social [END]*/

.CheckboxContainer {
	max-height: 150px;
	font-family: Roboto-Light;
	padding-left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	border: #FFFFFF 1px solid
}

.CheckboxContainer label {
	padding-left: 25px;
	margin-bottom: 2px;
	width: auto;
}

/* Radio Inline [START]*/

.form-group>.radio-inline>input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #ffffff;
	content: "";
	display: inline-block;
	border: 2px solid #0099cc;
}

.form-group>.radio-inline>input[type="radio"]:checked:after {
	content: "";
	display: inline-block;
	position: relative;
	border-radius: 50%;
	background: #0099cc;
}

.radio-inline {
	font-family: Roboto-Regular;
	font-size: 12px;
	line-height: 16pt;
	color: #333333;
	padding-right: 30px;
}

/* Radio Inline [END]*/

/*Checkbox [START]*/

.courseBullet ul {
	padding: 0px;
	list-style: none;
	margin-left: 25px;
}

.courseBullet ul li::before {
	content: "\2022";
	color: #0099cc;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -25px;
	display: inline-block;
	vertical-align: middle;
	font-size: 200%;
}

.courseBullet ul ul li::before {
	content: "\25E6";
	color: #0099cc;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -25px;
	display: inline-block;
	vertical-align: middle;
	font-size: 200%;
}

.container {
	display: block;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
	/*cursor:pointer;*/
	font-size: 12px;
	/*-webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;*/
}

.CheckboxContainer .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
	width: 10px;
	background-color: #eee;
	border: 1px solid #333333;
	margin-top: 5px;
}

.container:hover input~.checkmark {
	background-color: #FFFFFF;
}

.container input:checked~.checkmark {
	background-color: #ee4411;
	border: #ff9600;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.container input:checked~.checkmark:after {
	display: block;
}


/*Checkbox [START]*/

.sf-filtertags ul {
	margin-left: 0px;
	padding-left: 0px;
	font-family: Roboto-Regular;
}

.sf-filtertags ul li {
	list-style-type: none;
	display: inline-block;
	padding: 5px 10px;
	margin: 2px;
	background-color: #cccccc;
	font-size: 11px;
	color: #333333;
	border-radius: 50px;
	line-height: normal;
	margin-bottom: 20px;
	margin-right: 10px;
}

.sf-filtertags ul li a {
	color: #333333;
	padding: 0px 4px;
}

.courseStarContainer {
	margin: 10px 12px 0px 0px;
	clear: both;
	text-align: right
}

.checked {
	color: #FFBB00;
}

.p-0 {
	padding: 0px
}

.marginTop30 {
	margin-top: 30px
}

.marginTop25 {
	margin-top: 25px
}

.marginTop20 {
	margin-top: 20px
}

.marginTop10 {
	margin-top: 10px
}

.paddingBottom32 {
	padding-bottom: 32px;
}

.paddingBottom25 {
	padding-bottom: 25px;
}

.profileHead {
	font-family: Roboto-Thin;
	font-size: 24px;
	color: #0099cc;
	margin: 32px 0px 32px 0px;
	line-height: 30px;
}

.profileSubHead{
	font-family: Roboto-Regular;
	font-size: 18px;
	margin: 32px 0px 32px 0px;
	line-height: 24px;
}

a.profileNavPadding {
	padding: 5px 0 5px 0;
	margin: 0;
	display: inline-block;
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
}

a.topBorderNavBar {
	border-top: 1px solid #cccccc;
}

a.bottomBorderNavBar {
	border-bottom: 1px solid #cccccc;
}

.updateProfile a {
	color: #333333;
	padding: 5px 15px 5px 10px;
	margin-left: -10px;
}

.updateProfile span {
	background: #0099cc url(../../../assets/img/swayam_images/update_profile_arrow.png) no-repeat right center;
	color: #FFFFFF;
	padding: 7px 15px 7px 10px;
	display: block;
	margin-left: -10px;
}

.searchBTN {
	background: none;
	border: none;
	color: #333333
}

.learnerDashboard h1,
.NCdetails h1 {
	font-size: 35px;
	color: #FFFFFF;
	margin-bottom: 0px;
	text-align: center;
	clear: both
}

.learnerDashboard h2 {
	font-size: 25px;
	color: #FFFFFF;
	margin-bottom: 0px;
	clear: both
}

.learnerDashboard h3 {
	font-size: 14px;
	color: #FFFFFF;
	margin-bottom: 0px;
	font-weight: 400;
	letter-spacing: 2px;
	text-align: center;
	clear: both
}


/*For Tabs*/

.nav-pills>li>a {
	border-bottom: 1px solid #CCCCCC;
	border-radius: 5px 5px 0px 0px;
	font-size: 14px;
	color: #666666;
	padding: 5px 0px 3px 0px
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
	background: none;
	color: #ee4411;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: none;
	font-weight: 500
}

.nav>li>a:hover,
.nav>li>a:focus,
a:active {
	background: none;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
	background: none;
}

.mobileTab .nav-pills>li>a {
	padding: 5px 22px 3px 22px
}

.learnerCard {
	background: #FFFFFF;
	border-radius: 5px;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 3px 4px 0px rgba(255, 255, 255, 0.5);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
	margin-top: 30px;
}

.learnerCard .content {
	padding: 20px
}


/*For Accordion*/

.panel {
	border: none
}

.panel-title {
	font-size: 14px;
	color: #333333;
	font-weight: inherit;
	letter-spacing: normal;
}

.panel-default>.panel-heading {
	background: #EEEEEE
}

.panel-title>a:before {
	float: right !important;
	font-family: FontAwesome;
	content: "\f068";
	padding-right: 10px;
    padding-top: 2px;
    font-size: x-small;
}

.panel-title>a.collapsed:before {
	float: right !important;
	content: "\f067";
}

.panel-title>a:hover,
.panel-title>a:active,
.panel-title>a:focus {
	text-decoration: none;
}

.quickLinks a {
	color: #999999;
	font-weight: 500
}

.quickLinks a:hover,
.nav>li>a:focus,
a:active {
	color: #0099cc
}


/*For Tooltip*/

.tooltip-inner {
	background-color: #0099CC!important;
	color: #FFFFFF;
	font-weight: 200;
	font-size: 11px
}

.tooltip.top .tooltip-arrow {
	border-top-color: #0099CC;
}

.tooltip.right .tooltip-arrow {
	border-right-color: #0099CC;
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #0099CC;
}

.tooltip.left .tooltip-arrow {
	border-left-color: #0099CC;
}


/* For Global search */

.search .search_keyword {
	position: absolute;
	top: 3px;
	right: 20px;
}

.search {
	position: relative;
	color: #aaa;
	font-size: 14px;
	margin-right: 20px;
	min-width: 250px;
}

.search input {
	width: 100%;
	height: 32px;
	text-indent: 20px;
	border: #cccccc 1px solid;
	border: 1px solid #aaa;
	border-radius: 16px;
	padding-right: 40px;
}

@media (max-width: 767px) {
	form.form-search{
		margin-top:20px;
	}
}
@media (min-width: 768px) {
	form.form-search{
		margin-top:0px;
	}
}

.form-search ::placeholder {
	color: #cccccc;
}


/* Responsiveness for Mobile & Tab adding margin from right & left*/

@media (min-width: 481px) {
	.container {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media (max-width: 480px) {
	.container {
		padding-left: 15px;
		padding-right: 10px;
	}
}


/* ####### NC_details page #######*/

.NCdetails .iconsContainer {
	min-height: 230px;
}

.NCdetails .iconsContainer .inumber {
	font-size: 24px;
	text-align: center;
	padding-top: 20px;
	color: #fff
}

.NCdetails .iconsContainer .itext {
	font-size: 12px;
	color: #fff;
	line-height:16px;
}

.np_address .webLink {
	font-size: 18px;
	color: #333333;
}

.emailClr {
	font-size: 12px;
	color: #0099cc;
}

.blueBold {
	font-size: 12px;
	font-family: 'Roboto-Bold';
	color: #0099cc;
}

.padding10 {
	padding: 10px;
}

.cls_robotomedium {
	font-family: Roboto-Medium;
}

.size12 {
	font-size: 12px;
}

.size14 {
	font-size: 14px;
}

.size16 {
	font-size: 16px;
}

.size20 {
	font-size: 20px;
}

.bottomBorder {
	border-bottom: 1px solid #dddddd;
	padding: 5px 0px;
}

.ncpage .panel-title>a:before {
	padding-right: auto;
}

.bottomBorder .pull-right {
	padding-right: 10px;
}

.grayBtn {
	float: right;
	background: #999;
	margin-bottom: 40px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	min-width: 90px;
	color: #FFFFFF;
	border-radius: 50px;
	border: none;
	font-size: 11px;
	text-transform: uppercase;
	margin: 15px 12px 15px 0px;
	font-weight: 300;
	letter-spacing: 2px
}

.panel-group#accordion1 {
	margin-bottom: 20px;
}

.details_hr {
	clear: both;
	color: #dddddd;
	padding-top: 0px;
	position: relative;
	top: 20px;
	padding-bottom: 30px;
}

.boxMarginBottom {
	margin-bottom: 20px;
}

.teamTitle {
	margin-bottom: 20px;
	font-family: 'Roboto-Bold'
}

.display_flex {
	display: inline-flex;
	width: 60%;
	line-height: 16px;
}

.uni_sections div {
	padding: 5px 0px;
}

.capitalizeText{
	text-transform: capitalize;
}

.boldcls {
	font-family: Roboto-Bold;
}

.uni_sections div:first-child {
	padding: 14px 0px;
}

.uni_sections .bottomBorder span:last-child {
	font-family: Roboto-Bold;
}

.sub_title {
	padding-bottom: 20px;
}

.instructorContent button {
	text-transform: capitalize;
}

.margin0 {
	margin: 0;
}

.uniname span:last-child {
	max-width: 110px;
	display: inline-block;
	vertical-align: middle;
}

.instCarousel .carousel {
	position: static;
	padding-top: 10px;
}

.instCarousel .carousel-control {
	bottom: auto;
	right: -20px;
	top: 20px;
}

.instCarousel .carousel-control[data-slide="prev"] {
	right: 60px;
	left: auto;
}

.instCarousel .carousel-inner {
	padding-bottom: 80px;
}

.instCarousel .carousel-indicators .active {
	background: #000;
}

.instCarousel .carousel-indicators li {
	border: 1px solid #000;
}

.instCarousel .shadowBox h4 a {
	color: #0099cc;
}

.maintitle {
	font-family: Roboto-Thin;
	font-size: 24px;
	line-height: 30px;
	color: #333333;
}

.public_header{
	font-size: 26px;
	color: #FFCC33;
	font-family:roboto-light;
}

@media (max-width: 767px) {
    .nav-tabs>li.active>a{
        color: #ee4411 !important;
    }
    .nav-tabs>li>a{
        color: #666666;
    }
    .nav>li>a{
        padding: 10px 15px;
    }
}

.blinkingAnnouncement{
    animation:blinkingText 4.0s infinite;
    font-weight: bold;
}
@keyframes blinkingText{
    0%{ color: #f00;}
    20%{ color: transparent;}
    40%{ color: #f00;}
    60%{ color:transparent;}
    80%{ color: #f00;}
}

/*Themes for Node & central*/
/* Theme colors for Checkbox, Radio as required :: START */
input[type="checkbox"]:checked + label.theme1:before, .mcss input[type=radio]:checked + label.theme1:after{
    background: #993333;
}
input[type="checkbox"]:checked + label.theme2:before, .mcss input[type=radio]:checked + label.theme2:after{
    background: #003366;
}
.courseBullet ul li.theme1::before {
	color: #993333;
}
.courseBullet ul li.theme2::before {
	color: #003366;
}

/* Theme colors for Checkbox, Radio as required :: END */